name: yourapp
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.6.1

dependencies:
  flutter:
    sdk: flutter
  uuid: ^4.5.1
  url_launcher: ^6.2.5
  path_provider: ^2.1.5
  flutter_phoenix: ^1.1.1
  cupertino_icons: ^1.0.8
  flutter_highlight: ^0.7.0
  shared_preferences: ^2.3.5
  permission_handler: ^11.4.0
  firebase_ai: ^2.0.0
  firebase_auth: ^5.0.0
  firebase_core: ^3.0.0
  flutter_inappwebview: ^6.1.5
  flutter_native_splash: ^2.4.4
  flutter_secure_storage: ^9.2.4
  flutter_launcher_icons: ^0.14.3
  google_fonts: ^6.2.1
  dio: ^5.4.0
  file_picker: ^8.0.0
  photo_manager: ^3.6.0

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true

  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
